<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>deliveryApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93EB25682395B8B2007BF17C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93EB257E2395B8B4007BF17C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93EB25892395B8B4007BF17C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
